@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome to EZPayroll</h1>
    <p>Please use the menu items on your left to get started.</p>
</div>
